body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

h1 {
    color: green;
   
}

p {
    border-top: 5px solid blue;
    border-right: 2px dotted green;
    border-bottom: 5px dashed red;
    border-bottom: 2px dotted green;

    border: 3px solid green;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom:  10px;
    padding-left: 20px;

    padding: 10px 20px 10px 20px;
    padding: 10px 20px;
    padding: 20px;

    margin-top: 40px;
}